<h1>Room Assignments</h1>
<p>
	
<%= form_for @member do |f| %>
	<%= f.label :name, "Member name" %><br>
    <%= f.text_area :name %><br>
	<%= f.fields_for :room do |b| %>
		<%= b.label :room_name %><br>
		<%= b.text_area :room_name %><br>
		<%= b.label :rent %><br>
		<%= b.text_area :rent %><br>

	<% end %>

	<%= f.submit "Submit" %>
<% end %>
</p>